*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: beige;
  }

  .thanks-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: beige;
  }

.button{
    margin-top: 2rem;
    background-color: #2898ec;
    color:white;
    width: 8rem;
    height: 2rem;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  
  }