*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: beige;
}


.react-chatbot-kit-chat-container {

  width: 300px ;

}

.react-chatbot-kit-chat-bot-message {
  margin-left: 10px;
}


.bot{
  background-color: gainsboro;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  border-radius: 100%;
}

.enrollBtn{
  margin-left: 3rem;
  background-color: #2898ec;
  color:white;
  width: 8rem;
  height: 2rem;
  border-radius: 50px;
  cursor: pointer;

}
